<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!-- 定义数据源 -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName">
            <value>com.mysql.jdbc.Driver</value><!-- 设置驱动类 -->
        </property>
        <property name="url">
            <value>jdbc:mysql://localhost:3306/spring</value><!-- 设置连接URL -->
        </property>
        <property name="username"><value>root</value>						<!-- 数据库用户名-->
        </property>
        <property name="password"><value>123456</value>					<!-- 数据库密码 -->
        </property>
    </bean>

    <!-- 定义SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource">			<!--数据源-->
            <ref bean="dataSource"/>
        </property>
        <property name="hibernateProperties">	<!--Hibernate配置属性-->
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">false</prop>
            </props>
        </property>
        <property name="mappingResources">		<!--关系映射文件-->
            <list>
                <value>hibernate/User.hbm.xml</value>
            </list>
        </property>
        <property name="packagesToScan">
            <!-- 可添加多个实体类包名 -->
            <list><value>ssh.entity</value></list>
        </property>
    </bean>

    <!-- 定义HibernateTemplate -->
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>		<!--注入SessionFactory实例对象-->
        </property>
    </bean>

    <bean id="hibernateTransactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>	<!--注入SessionFactory实例对象-->
        </property>
    </bean>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <!-- 注入hibernateTemplate -->
    <!--<bean id="userDAO" class="ssh.dao.UserDAOImpl">
        <property name="hibernateTemplate">
            <ref bean="hibernateTemplate"/>
        </property>
    </bean>-->
</beans>